.filters {
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
  width: 100%;

  padding: var(--gap-small);
}

.filter {
  justify-content: space-between;
}

.filter a {
  color: var(--primary-color);
}
.range {
  justify-content: space-between;
}
.price .slider input {
  width: 100%;
}
/* slider */

.container-range {
  padding: var(--gap-small);
  border-radius: 10px;
}
.price .slider input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 5px;
  outline: none;
  border: none;
}
.price .slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
/* checkbox */

.checkboxes {
  align-items: normal;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.check-msg {
  padding: var(--gap-smallest);
}

.check-input {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--extra-color);
  cursor: pointer;
}

.check-input:checked {
  border: 1px solid black;
  background-color: var(--background-color);
}

.check-input:checked + .check-msg::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: var(--primary-color);
  position: absolute;
  left: 5px;
  top: 1px;
}

.check-input:active {
  border: 2px solid black;
}

/* radio */

.radio-btns {
  align-items: normal;
}

.radio-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.radio-msg {
  padding: var(--gap-smallest);
}

.radio-input {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--extra-color);
  cursor: pointer;
}

.radio-input:checked {
  border: 1px solid black;
  background-color: var(--background-color);
}

.radio-input:checked + .radio-msg::before {
  content: "â—";
  font-size: 1.75rem;
  display: block;
  text-align: center;
  color: var(--primary-color);
  position: absolute;
  left: 1px;
  top: -2.5px;
}

.radio-input:active {
  border: 2px solid black;
}

@media (max-width: 600px) {
  .checkbox > input:checked + span::before {
    left: 3px;
    top: 1px;
  }
  .radio-btn > input:checked + span::before {
    left: 1px;
    top: -1.5px;
  }
}
