.btn-primary {
  color: white;
}
.badge {
  background-color: transparent;
}
.badge .fa-heart {
  margin-top: -1rem;
  padding: 1rem;
}

.badge .wish-active {
  color: var(--primary-color);
}

.badge:hover {
  background-color: transparent;
  cursor: pointer;
}
